<div class="cloud-container">
    <p>cloud-document works!</p>
    <div>
        <ul>
            <li>无序列表第1行</li>
            <li class="specific">无序列表第2行</li>
            
            <li>
                无序列表第3行
                <a href="https://www.baidu.com/">去百度</a>
            </li>
            <li>无序列表第4行</li>
            <li>无序列表第5行</li>
            <li>无序列表第6行</li>
        </ul>
        <a href="https://www.google.com/">去谷歌111111</a> 
        <a href="https://www.toutiao.com/">去头条111111</a>
    </div>
    
    <div>
        <span>zhang-2</span>
    </div>

    <div>
        <span class="file">wang-1</span>
        <p>wang-2</p>
        <p>wang-3</p>
        <p>wang-4</p>
        <p>wang-5</p>
        <p>wang-6</p>
        <p>wang-7</p>
        <span title="wang-8">wang-8</span>
    </div>
   

    <div>
        <table>
            <caption>人员信息</caption>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>李四</td>
                    <td>30</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <!-- <a href="http://www.taobao.com" target="tt" (click)="onClickA()">去淘宝</a> <br> -->
        <!-- <a href="http://www.localhost:8080" target="tt" (click)="onClickA()">去淘宝</a> <br> -->
        <form>
            <label for="xuhao">输入ID:</label>
            <input type="text" id="xuhao" name="id">
            <input type="submit" value="提交" (click)="submitID()">
        </form>
        <!-- <iframe  frameborder="1" name="tt" width="900" height="300" [hidden]="hidden"></iframe> -->
        
    </div>

    <div class="outer">
        <div class="box box1">测试1</div>
        <div class="box box2">测试2</div>
        <div class="box box3">测试3<span>测试3</span> </div>
        <div class="box box4">测试4测试4测试4</div>
    </div> 

    <div class="ceshi-1">
        <div class="ceshi-item1">123</div>
    </div> 

    <!-- <hr>
    <div class="ceshi-2">
        ceshi-2
    </div>  -->
</div>




