table {
    border: 1px green solid;
    width: 400px;
    border-collapse: collapse;
    table-layout: fixed;
}
caption {
    caption-side: top;
    text-align: center;
}
th, td {
    border: 1px skyblue solid;
    text-align: center;
} 

/* ul {
    list-style-type: decimal; 
    list-style-position: inside; 
    background-color: skyblue; width: 400px;
} */

.cloud-container {
    background-color: #fff;
}

.outer {
    width: 500px; 
    background-color: skyblue;
    border: 1px solid black;
    position: relative;
    margin: 10px;
}

.outer::after {
    display: block;
    clear: both;
    content: '123456789';
}

.outer:hover .box2 {
    left: 100px;
}

.box {
    width: 100px;
    height: 100px;
    border: 1px black dotted;
}

.box1 {
    background-color: orange;
}

.box2 {
    background-color: green;
    position: absolute;
    top: 0px;
    transition: all 1s linear;
}

.box3 {
    background-color:white;
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
}

.box3 span {
    vertical-align: top;
    font-size: 10px;
}

.box4 {
    width: 100px;
    background-color: red;
    font-size: 20px;
    text-indent: 2em;
}

.ceshi-1 {
    width: 500px;
    height: 500px;
    background-color:lightgreen; 
    position: relative; 
    padding: 20px;
}

.ceshi-item1 {
    background-color:orange;
    padding: 10px;
    border: 10px solid black;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.ceshi-2 {
    height: 500px;
    background-color:black;
    background-image: url(../../../../assets/icon/logo.svg);
    background-repeat: no-repeat;
    background-position: 100px 10px;
}

/* ul li {
    color: orange;
}

ul  .specific {
    color: blue;
} */

/* .specific a {
    color: red;
} */
/* a {
    background-color: gray;
} */
/* a:visited {
    color:red;
    background-color: blue;
} */

/* div>a:first-child {
    color: red;
} */

/* div a:first-of-type {
    color: red;
} */

/* ul >  li:nth-child(-n+4) {
    color: blue;
} */

/* div span:only-of-type {
    color: red;
} */

/* div span:only-child {
    color: red;
} */

/* div span:not(.file) {
    color: red;
} */
/* div span:not([title^=wang-8]) {
    color: red;
} */
/* div span:not(:first-child) {
    color: red;
} */
div span:nth-child([title=zhang-8]) {
    color: red;
}

