<div style="margin: 150px;">
    <p>cloud-document works!</p>
    <div>
        <ul>
            <li>无序列表第一行</li>
            <li>无序列表第一行</li>
        </ul>
    </div>
    
    <div>
        <table>
            <caption>人员信息</caption>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>姓名</th>
                    <th>年龄</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>张三</td>
                    <td>20</td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>李四</td>
                    <td>30</td>
                </tr>
            </tbody>
        </table>
    </div>
    
    <div>
        <!-- <a href="http://www.taobao.com" target="tt" (click)="onClickA()">去淘宝</a> <br> -->
        <!-- <a href="http://www.localhost:8080" target="tt" (click)="onClickA()">去淘宝</a> <br> -->
        <form>
            <label for="xuhao">输入ID:</label>
            <input type="text" id="xuhao" name="id">
            <input type="submit" value="提交" (click)="submitID()">
        </form>
        <iframe  frameborder="1" name="tt" width="900" height="300" [hidden]="hidden"></iframe>
    </div>

    
    

</div>




