<p>customers works!</p>
<app-add-customers>
    <div class="a">
        customer ngContent a!!!!
    </div>
    <ng-container class="b">
        customer ngContent b!!!!
    </ng-container>
</app-add-customers>

<app-update-customers>
    <div class="a">
        customer ngContent a!!!!
    </div>
    <ng-container class="b">
        customer ngContent b!!!!
    </ng-container>
</app-update-customers>

<div>
    <p>Paragraph 1 in the div.</p>
    <p>Paragraph 2 in the div.</p>
    <span><p>Paragraph 3 in the div.</p></span> 
</div>
  
<p>Paragraph 4. Not in a div.</p>
<p>Paragraph 5. Not in a div.</p>
