.save {
    margin-right: 8px;
  }

.form-colmn {
    display: flex;
    flex-direction: column;
}

.form-row{
  display: flex;
  align-items: center;
}

.form-row > input{
  margin: 10px;
}

.form-foot {
  display: flex;
  justify-content: space-between;
  width: 200px;
}

label {
  margin: 10px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: white;
}

.logo-container {
  background: #003d48 url('../../../assets/icon/fruit-logo.png') center no-repeat;
  
  flex: 1;
}

.main-container {
  flex: 1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}