:host {
  display: flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}





.main {
  position: relative;
  border: 1px solid blue;
  height: 10%;
}
.content {
  height: 90%;
}

.welcome-message {
  position: relative;
  font-size: 60px;
  font-weight: 200;
  font-family:'Times New Roman', Times, serif;
}

.route-links {
  display: flex;
}

.link-button {
  margin: 20px;
  padding: 20px;
  border: 1px green;
}
