<!-- float 布局 -->
<!-- <div class="container">
  <div class="header clearfix">
    <div class="logo leftfix">logo</div>
    <div class="banner1 leftfix">banner1</div>
    <div class="banner2 leftfix">banner2</div>
  </div>

  <div class="menum">菜单</div>

  <div class="item clearfix">
    <div class="left leftfix">
      <div class="clearfix">
        <div class="item1 leftfix">栏目一</div>
        <div class="item2 leftfix">栏目二</div>
      </div>
     
      <div class="bottom clearfix">
        <div class="item3 leftfix">栏目三</div>
        <div class="item4 leftfix">栏目四</div>
        <div class="item5 leftfix">栏目五</div>
        <div class="item6 leftfix">栏目六</div>
      </div>
    </div>

    <div class="right leftfix">
      <div class="item7">栏目七</div>
      <div class="item8">栏目八</div>
      <div class="item9">栏目九</div>
    </div>
  </div>

  <div class="footer">页脚</div>
</div> -->

<div class="wrapper">
  <div class="app-hearder">
    <div class="title">
      <img class="title-img" src="../assets/icon/fruit-logo.png" alt="水果">
      <div>Fruit Bill</div>
    </div>
    
    <div class="doc-pro">
      <div class="doc-title">
        <a  routerLink="/document" routerLinkActive="active" ariaCurrentWhenActive="page">文档</a>
      </div>
      <div class="doc-title">
        <a  routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">产品</a>
      </div>
    </div>
    <div class="login-out">     
      <a  routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!authService.canActive">登录</a>
      <a  routerLink="/login" (click)="logout()" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="authService.canActive">退出</a>
    </div>
  </div>

  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
</div>

<!-- <div *ngIf="authService.canActive; then logout; else login"></div>
    <ng-template #login>
      <a class="link-button" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!authService.canActive">登录</a>
    </ng-template>
    <ng-template #logout>
      <a class="link-button" routerLink="/login" (click)="this.logout()" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="authService.canActive">退出</a>
    </ng-template> -->