<!-- 

<div class="main">
  <p class="welcome-message">welcome everyone!</p>
  <div class="route-links">
    <nav>
    <a class="link-button" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">登录</a>
    <a class="link-button" routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">产品</a>
    </nav>
  </div>
</div>
<div class="content">
  <router-outlet></router-outlet>
</div> -->


<div class="wrapper">
  <div class="hearder">
    <div class="title">
      <img class="title-img" src="../assets/icon/fruit-logo.png" alt="水果">
      <div>Fruit Bill</div>
    </div>
    
    <div class="doc-pro">
      <div class="doc-title">
        <a  routerLink="/document" routerLinkActive="active" ariaCurrentWhenActive="page">文档</a>
      </div>
      <div class="doc-title">
        <a  routerLink="/products" routerLinkActive="active" ariaCurrentWhenActive="page">产品</a>
      </div>
    </div>
    <div class="login-out">     
      <a  routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!authService.canActive">登录</a>
      <a  routerLink="/login" (click)="logout()" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="authService.canActive">退出</a>
    </div>
    <!-- <div *ngIf="authService.canActive; then logout; else login"></div>
    <ng-template #login>
      <a class="link-button" routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="!authService.canActive">登录</a>
    </ng-template>
    <ng-template #logout>
      <a class="link-button" routerLink="/login" (click)="this.logout()" routerLinkActive="active" ariaCurrentWhenActive="page" *ngIf="authService.canActive">退出</a>
    </ng-template> -->
    
  </div>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

</div>