

.main {
  position: relative;
  border: 1px solid blue;
  height: 10%;
}

.content {
  height: 90%;
}

.welcome-message {
  position: relative;
  font-size: 60px;
  font-weight: 200;
  font-family:'Times New Roman', Times, serif;
}

.route-links {
  display: flex;
}

.link-button {
  margin: 10px;
  padding: 10px;
  border: 1px green;
}

.wrapper {
  background-color: #452170;
  
}

.app-hearder {
  display: flex; 
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 62px;
  font-family: 'Public Sans',sans-serif;
  font-style: normal;
  scrollbar-width: thin;
}

.title {
  display: flex;
  align-items: center;
  flex: 0 0 30%;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.title-img {
  width: 100px;
}

.doc-pro {
  display: flex;
  flex: 0 0 30%;
  vertical-align: middle;
  width: auto;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.login-out {
  flex: 0 0 10%;
  font-size: 20px;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.doc-title {
  width: auto;
  margin: 10px;
}

.app-content {
  background-color: black;
  height: calc(100vh - 62px);
}

a {
  color: white;
}
